// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

// fonts
$base-font-size: 16px;
$base-font:'Poppins', sans-serif;
$heading-font: 'Poppins', sans-serif;


// color
$theme-font: #1E1E1E;

$content-color: #222222;

$white: #fff;
$black: #000;
$black-ash: #5d5d5d;
$ash: #eaeaea;

$them-1: #79F2B9;
$them-2: #5900AC;
$them-3: #9E2550;

$border-1: #EBEAE6;


  



























