.cta-image {
    height: 464px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.news-letter-area {
    max-width: 860px;
    height: 352px;
    text-align: center;
    padding: 55px 220px;
    background: $gray-3;
    margin: 0 auto;
    position: relative;
    z-index: 11;
    margin-bottom: -232px;
    border-radius: 10px;
}

.subscribe-area {
    position: relative;
    input {
        width: 100%;
        height: 40px;
        padding: 0px 30px;
        border-radius: 100px;
        border: 1px solid #D2B98C;
        font-weight: 300;
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: $gold;
            opacity: 0.5;
        }

        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: $gold;
            opacity: 0.5;
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $gold;
            opacity: 0.5;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $gold;
            opacity: 0.5;
        }

        &::placeholder {
            /* Most modern browsers support this now. */
            color: $gold;
            opacity: 0.5;
        }
    }
    .subscribe-btn-part{
        position: absolute;
        top: -1px;
        right: -1px;
        z-index: 1111;
    }
}

.newsletter {
    // margin: auto;
    text-align: center;
    background-color: $white;
    border-radius: 10px;
    padding: 55px 220px;

    p {
        max-width: 420px;
    }
}

.service-area {
    padding-top: 109px;
}

.service-wrap {
    padding: 0 123px 82px 123px;
    display: flex;
    justify-content: space-between;
}

.single-service {
    max-width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;

    .icon-box {
        margin-bottom: 17px;
    }

    .service-title {
        font-size: 28px;
        line-height: 32px;
        font-weight: 400;
        color: $dark-gray;
        margin-bottom: 10px;
    }

    .info {
        font-size: 16px;
        color: $dark-gray;
        line-height: 24px;
        font-weight: 300;
    }
}

.icon-box {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    border: 1px solid $gray-2;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon1 {
        width: 45px;
        height: 45px;
        background: $global-consulting;
        border-radius: 50%;
    }

    .icon2 {
        background: linear-gradient(to bottom, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 50%, $wine-advisor 50%, $wine-advisor 100%);
    }

    .icon3 {
        width: 37px;
        height: 57px;
        background: $busines-develop;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .icon4 {
        img {
            height: 55px;
            width: 41px;
            transform: rotate(90deg);
        }
    }
}

.service-bg {
    position: relative;

    img {
        max-width: 1070px;
        width: 100%;
        object-fit: cover;
        object-position: left top;
        border-top-right-radius: 380px;
        border-bottom-right-radius: 380px;
        height: 752px;
        position: relative;
        z-index: 11;
    }

    .shap01 {
        position: absolute;
        bottom: -73px;
        z-index: 1;
        left: 108px;

        img {
            width: 225px;
            height: 176px;
            object-fit: cover;
            // height: 225px;
        }

    }

    .shap02 {
        position: absolute;
        // width: 142px;
        // height: 142px;
        // background: #5900AC;
        // mix-blend-mode: screen;
        // transform: rotate(-90deg);   
        bottom: -73px;
        z-index: 111;
        left: 108px;

        img {
            width: 225px;
            height: 176px;
            object-fit: cover;
        }
    }
}

// blog area start 
.blog-area {
    padding-top: 109px;
}