.cta-image{
    height: 464px;
    width: 100%;
    object-fit: cover;
}
.newsletter{
    // margin: auto;
    text-align: center;
    background-color: $white;
    border-radius: 10px;
    padding: 55px 220px;
    p{
        max-width: 420px;
    }
}

.service-area {
    padding-top: 109px;
}
.service-wrap {
    padding: 0 123px 82px 123px;
    display: flex;
    justify-content: space-between;
}
.single-service {
    max-width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
    .icon-box {
        margin-bottom: 17px;
    }
    .service-title {
        font-size: 28px;
        line-height: 32px;
        font-weight: 400;
        color: $dark-gray;
        margin-bottom: 10px;
    }
    .info {
        font-size: 16px;
        color: $dark-gray;
        line-height: 24px;
        font-weight: 300;
    }
}
.icon-box {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    border: 1px solid $gray-2;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon1 {
        width: 45px;
        height: 45px;
        background: $global-consulting;
        border-radius: 50%;
    }
    .icon2 {
        background: linear-gradient(to bottom, rgba(255, 255, 255) 0%, rgba(255, 255, 255) 50%, $wine-advisor 50%, $wine-advisor 100%);
    }
    .icon3 {
        width: 37px;
        height: 57px;
        background: $busines-develop;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .icon4 {
        img{
            height: 55px;
            width: 41px;
            transform: rotate(90deg);
        }        
    }
}
.service-bg{
    position: relative;
    img{
        max-width: 1070px;
        width: 100%;
        object-fit: cover;
        object-position: left top;
        border-top-right-radius: 380px;
        border-bottom-right-radius: 380px;
        height: 752px;
        position: relative;
        z-index: 11;
    }
    .shap01 {
        position: absolute;
        bottom: -73px;
        z-index: 1;
        left: 108px;
        img{
            width: 225px;
            height: 176px;
            object-fit: cover;
            // height: 225px;
        }

    }
    .shap02{
        position: absolute;
        // width: 142px;
        // height: 142px;
        // background: #5900AC;
        // mix-blend-mode: screen;
        // transform: rotate(-90deg);   
        bottom: -73px;
        z-index: 111;
        left: 108px;
        img{
            width: 225px;
            height: 176px;
            object-fit: cover;
        }
    }
}

// blog area start 
.blog-area {
    padding-top: 109px;
}
.blog-wrap {
    padding: 0 200px;
    margin: 0 35px;
    position: relative;
    .slick-list {
        margin: 0 -10px;
    }
    .single-blog.slick-slide{
        margin-left: 10px;
        margin-right: 10px;
    }
    .slick-arrow {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background: linear-gradient(to left, $gold, rgba(#D2B98C, 0.1));
        cursor: pointer;
        z-index: 1111;
        outline: none;
        color: $gold;
        border: none;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 1px;
            right: 1.5px;
            bottom: 0.7px;
            left: 0px;
            background-color: white;
            border-radius: 100px;
        }
    }
    .slick-prev.slick-arrow{
        position: absolute;
        top: 45%;
        transform: translateX(-50%)
    }
    .slick-prev.pull-left{
        left: 103px;
        z-index: 11;
    }
    .slick-prev.pull-right{
        right: 55px;
        z-index: 11;
        background: linear-gradient(to right, $gold, rgba(#D2B98C, 0.1));
        &::after {
            top: 1px;
            right: 0px;
            bottom: 0.7px;
            left: 1.5px;
        }
    }
}
.single-blog {
    max-width: 310px;
    background: #FFFFFF;
    box-shadow: -2px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-bottom: 30px;
    .blog-img {
        img{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .blog-details {
        padding: 16px 20px 16px 20px;
        .category {
            height: 16px;
            padding: 0 5px;
            background: transparent;
            font-size: 14px;
            line-height: 18px;
            font-weight: 300;
            color: $gold;
            border: 0.7px solid $gold;
            border-radius: 3px;
        }
        .blog-title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            margin-bottom: 5px;
            color: $dark-gray;
        }
        .blog-info {
            font-size: 14px;
            line-height: 18px;
            font-weight: 300;
            color: rgb(30, 30, 30, 0.7);
            margin-bottom: 5px;
        }
        .view-more {
            font-size: 14px;
            line-height: 18px;
            font-weight: 300;
            color: $gold;
            text-align: end;
            display: block;
        }

    }
}